body {

  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #200933, #3d0b43);
  background-size: auto 100vh;
  background-position: top;

  position: relative;
  color: #ffcc00;
  text-shadow: 0 0 2px #100c0f, 0 0 3px #ffaa0099, 0 0 5px #ffaa0099, 0 0 10px #ffaa0099;
  
}

h1 {
  line-height: 0.2;
}

h2 {
  color: #fc199a;
  text-shadow: 0 0 2px #393a33, 0 0 35px #ffffff44, 0 0 10px #fc199a, 0 0 2px #fc199a;

}

h3 {
  color: #61e2ff;
  text-shadow: 0 0 2px #001716, 0 0 5px #03edf933, 0 0 10px #ffff6633;
  font-style: italic;
}

label {
  font-style: italic;
}

button {
  border: 1px solid #050505;
  color: #61e2ff;
  cursor: pointer;
  padding: 4px;
  font-size: 0.75rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  border-radius: 4px;
  background-color: #c40fb5;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
  background-color: #fc199a;
  border: 1px solid #00d0ff;
  color: #da81dd;
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

textarea, input {
  color: #9963ff;

  border: 1px solid rgb(29, 123, 247);
  background-color:rgba(77, 24, 82, 0.842);
}
